* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #1a1a1a;
    background-image: radial-gradient(#292929 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -19px -19px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header {
    position: fixed;
    top: 0px;
    background-color: #1a1a1a;
    width: 100%;
    height: 100px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #292929;
    padding: 20px;
    z-index: 31;
}

.header-title {
    display: flex;
    justify-content: space-between;
}

.header-title p {
    cursor: default;
    margin-left: 28px;
    margin-bottom: 12px;
    font-size: 1.2em;
    user-select: none;
    transition: color 0.1s ease-in-out;
}

.header-title .text:hover {
    color: #ff7a2d;
    transition: color 0.1s ease-in-out;
}

/* --------- Navigation Bar --------- */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px 30px;
    transition: color 0.06s ease-in-out;
}

nav a:hover {
    color: #e06720;
}

/* --------- Base Section Styles --------- */
section {
    padding: 50px;
    margin-top: 120px;
}

section h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

section p {
    font-size: 1.2em;
    color: #ccc;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* --------- Works Section Styles --------- */

/* --------- Artwork Section Styles --------- */
.art-gallery {
    margin: 0;
}

.art-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.art-item {
    flex: 0 0 400px;
    /*img size */
    margin: 30px;
    /* gap between */
}

.art-item img {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #292929;
}

.art-date {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border: 1px solid #292929;
    transition: background-color 0.1s ease-in-out;
}

.art-item:hover .art-date {
    background-color: #e06720;
    animation-duration: 0.1s;
    animation-name: textflicker-box;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* --------- Contact Section Styles --------- */
form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    background-color: #333;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

form input[type="submit"] {
    color: #fff;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #e06720;
}

/* --------- About Section --------- */

.about-description {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.about-description a {
    text-decoration: none;
    color: #e06720;
    transition: color 0.1s ease-in-out;
}

.about-description a:hover {
    color: #ccc;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social-links li {
    margin: 1rem;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.social-links a:hover {
    color: #e06720;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 8px;
    padding: 20px;
    color: #ccc;
    font-size: 10px;
}

.scroll-top {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
    z-index: 31;
}

.scroll-top button {
    border: none;
    text-decoration: none;
    background: none;
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
    color: #929292;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
}

.scroll-top button:hover {
    color: #ff7a2d;
    transition: color 0.1s ease-in-out;
}

/* --------- Animations --------- */
@keyframes textflicker-box {
    from {
        text-shadow: 2px 0 0 #bd00ff, -2px 0 0 #00b8ff;
    }

    to {
        text-shadow: 3px 0.5px 2px #bd00ff, -1px -0.5px 2px #00ff9f;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --------- Media --------- */
@media screen and (max-width: 1400px) {
    section {
        margin-top: 100px;
    }

    .art-gallery {
        padding-top: 0;
    }
}

@media screen and (max-width: 600px) {

    section {
        margin-top: 100px;
    }

    section h1 {
        font-size: 1.4em;
    }

    .art-gallery {
        padding-top: 0;
    }

    .art-item {
        flex: 1 0 350px;
        /*img size */
        margin: 30px;
        /* gap between */
    }

    .works p,
    .about p {
        font-size: 1em;
    }

    footer {
        font-size: 0.5em;
    }

    .social-links {
        display: flex;
        flex-direction: column;
    }

    .social-links li {
        margin: 0.5rem;
    }

    form input[type="submit"] {
        font-size: 1em;
    }
}