  .theme-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    width: fit-content;
    margin-right: 24px;
    transition: 0.16s ease-in-out;
  }
  
  .theme-button:hover {
    opacity: 0.3;
  }
  
  /* selected mode effect */
  .theme-button .theme-mode.selected {
    opacity: 1;
    font-weight: 700;
  }

  /* Darkmode switch */

  .switch {
    position: relative;
    display: block;
    width: 25px; /* longer than 25 pixels yoink the nav bar out */
    height: 12px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: 0.4s;
    border-radius: 34px;
    border:1px solid white;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:checked + .slider:before {
    transform: translateX(12px);
    background-color: black;
  }
  input:checked + .slider {   
    border:1px solid black;
  }