@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");

:root {
  --dark-color: hsl(0, 0%, 100%);
  --dark-color-param: 0, 0%, 100%;
  --dark-bg: hsl(0, 0%, 0%);
  --light-color: hsl(0, 0%, 0%);
  --light-bg: hsl(0, 0%, 79%);
}

::selection {
  background: none;
  color: hsl(var(--dark-color-param), 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
}

nav {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  padding: 24px 16px;
  background-color: var(--dark-bg);
  border-right: 1px solid var(--dark-color);
}

nav > h1 {
  display: inline-block;
  margin-bottom: 48px;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  font-size: 20px;
  white-space: nowrap;
}

.menu-button {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: 0.16s ease-in-out;
}

.menu-button:hover {
  opacity: 0.3;
}

.menu-button span {
  font-size: 16px;
}

.artworks-page {
  margin-left: 60px;
}

.artworks-title {
  font-size: 24px;
  padding-top: 45px;
  padding-left: 100px;
  padding-bottom: 36px;
}

.artworks-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  flex-basis: calc(50% - 20px); /* İkili sütun düzeni */
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc(33.33% - 20px); /* Üçlü sütun düzeni */
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: calc(100% - 20px);
  }
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}